<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExchangeService" />
                <binding name="BasicHttpBindingSecure_IExchangeService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testservice.synerdocs.ru/ExchangeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeService"
                contract="SynerdocsServiceReference.IExchangeService" name="BasicHttpBinding_IExchangeService" />
            <endpoint address="https://testservice.synerdocs.ru/ExchangeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingSecure_IExchangeService"
                contract="SynerdocsServiceReference.IExchangeService" name="BasicHttpBindingSecure_IExchangeService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
